@font-face {
    font-family: 'SF Compact Display Medium';
    font-style: normal;
    font-weight: normal;
    src: local('SF Compact Display Medium'), url('sf-compact-display-medium-58646eb43a785.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
}

body {
    overflow: hidden;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

section img {
    position: absolute;
    width: 100%;
}

.homeTitle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: center;
    background: rgba(0,0,0,0.4);
    padding: 15px;
    z-index: 3;
    color: #fff;
    text-decoration: none;
    font-size: 1.25em;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    letter-spacing: -1px;
}

.box {
    position: relative;
}

.box .square {
    position: absolute;
    backdrop-filter: blur(5px);
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    background: rgba(255,255,255,0.2);
    border-radius: 10px;
    animation: animate 10s linear infinite;
    animation-delay: calc(-1s * var(--i));
}

@keyframes animate {
    0%,100% {
        transform: translateY(-40px);
    }
    50% {
        transform: translateY(40px);
    }
}

.box .square:nth-child(1) {
    top: -50px;
    right: -60px;
    width: 100px;
    height: 100px;
}
.box .square:nth-child(2) {
    top: 150px;
    left: -100px;
    width: 120px;
    height: 120px;
    z-index: 2;
}
.box .square:nth-child(3) {
    bottom: 50px;
    right: -60px;
    width: 80px;
    height: 80px;
    z-index: 2;
}
.box .square:nth-child(4) {
    bottom: -80px;
    left: 100px;
    width: 50px;
    height: 50px;
}
.box .square:nth-child(5) {
    top: -80px;
    left: 140px;
    width: 60px;
    height: 60px;
}
.box .square:nth-child(6) {
    top: 80px;
    left: -60px;
    width: 45px;
    height: 45px;
    border-radius: 5px;
    z-index: 3;
}
.box .square:nth-child(7) {
    top: 50px;
    left: -30px;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    z-index: 3;
}

.container {
    position: relative;
    width: 100%;
    min-height: 100%;
    background: rgba(255,255,255,0.2);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    box-shadow: 0px 25px 45px rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.form {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 40px;
}

.form h2 {
    position: relative;
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: -1px;
    margin-bottom: 40px;
}

.form h2::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 80px;
    height: 4px;
    background: #fff;
}

.form .inputBox {
    width: 100%;
    margin-top: 20px;
}

.form .inputBox input {
    width: 100%;
    background: rgba(255,255,255,0.5);
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    outline: none;
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    color: #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
    font-size: 16px;
    letter-spacing: -1px;
}

.form .inputBox input::placeholder {
    color: #fff;
}

.form .inputBox input[type="submit"] {
    background: #fff;
    color: #666;
    max-width: 100px;
    cursor: pointer;
    margin-bottom: 20px;
    font-weight: 600;
}

.form .forget {
    color: #fff;
}

.form .forget a {
    color: rgb(255, 80, 138);
    font-weight: bold;
    text-decoration: none;
}

.forget a:hover {
    opacity: 0.7;
}

@media (max-width: 991px) {
    section {
        position: relative;
    }
    section img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .container {
        position: relative;
        width: 100%;
        min-height: 100%;
        background: rgba(255,255,255,0.2);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(5px);
        box-shadow: 0px 25px 45px rgba(0,0,0,0.1);
        border: 1px solid rgba(255,255,255,0.5);
        border-right: 1px solid rgba(255,255,255,0.2);
        border-bottom: 1px solid rgba(255,255,255,0.2);
    }
    .box .square {
        position: absolute;
        backdrop-filter: blur(5px);
        box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
        border: 1px solid rgba(255,255,255,0.5);
        border-right: 1px solid rgba(255,255,255,0.2);
        border-bottom: 1px solid rgba(255,255,255,0.2);
        background: rgba(255,255,255,0.2);
        border-radius: 10px;
        animation: animate 10s linear infinite;
        animation-delay: calc(-1s * var(--i));
    }
}